*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins';
}

h2{
    font-size: 2rem;
    font-weight: 500;
}

section{
    padding: 5% 10%;
}

button{
    background-color: #333333;
border: 3px solid #d5d5d5;
outline: none;
color: white;
border-radius: 20px;
padding: 8px 20px;
box-shadow: 0 2px 5px 0 black;

}
/* Header Start */

header{
    justify-content: space-between;
    /* height: 44px; */
    margin: auto;
    padding: 15px 10%;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-weight: 500;
    font-size: 1.2rem;
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: white;
}
padding{
    padding-right: 10%;
}
.flex{
    display: flex;
}
.logo{
    background-color: #007ced;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: 'Ribeye';
}


.links{
    gap: 40px;
    justify-content: space-between;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

.icon-hamburger{
    display: none;
    color: black;
}

/* Header end */
@media screen and (max-width:640px) {
    header{
        padding: 15px 5%;
    }

    .icon-hamburger{
        display: flex;
        color: black;
    }

    .links{
        display: none;
    }

    .showLinks{
        display: block;
        margin-top: 10%;
        position: absolute;
        height: 100px;
        background-color: white;
        width: 25%;
        left: 0;
        padding: 10px;
        line-height: 1.5;
        font-size: 1rem;
        z-index: 2;
        top: 10;
    }

    /* .links li {
        background-color: black;
        color: white;
        width: 100%;
    } */

    .links li:hover{
        background-color: black;
        color: white;
        width: 100%;
        
    }

    .links li a:hover{
        color: white;
        padding: 5% ;
        font-size: 1.5rem;
    }
    
}

/* Hero-section */

.hero-section {
    align-items: center;
    padding: 12% 10% 8%;
    gap: 80px;
    margin: auto;
   

}

.image-section{
    background-color: #444444;
    border-radius: 50%;
    background-image: url("images/pix.png");
    background-repeat: 60% 40%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    width: 400px;
    box-shadow: 0px 0px 30px 2px rgb(97, 93, 93);}

.text-section{
    width: 50%;
}

.name{
    align-items: left;
    margin-bottom: 20px;
    font-size: 3rem;
    font-weight: 900;
    font-family: 'Poppins';
}

.name span{
    font-weight: 500;
}
.name-break{
    display: block;
}

.text-section p{
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 20px;
    line-height: 1.5;

}

.text-section button{
    font-size: 1rem;
     margin-right: 20px;
     padding: 10px 25px;
}

button a{
    text-decoration: none;
    color: white;

}
br{
    display: none;
}

/* Hero-section end*/
@media screen and (max-width:640px) {
    .hero-section{
        display: block;
        margin: 5px auto;
        padding: 25% 10% 5%;
    }

    .image-section{
        background-size: cover;
        /* padding: 10px; */
        height: 250px;
        width: 250px;
        margin: auto;
    }
    .name{
     
        font-size: 2rem;
        font-weight: 700;
        font-family: 'Poppins';
        margin-top: 20px;
        text-align: center;
        line-height: 1;
    }

    .text-section{
        width: 100%;
    }

    .text-section p{
        font-size: 1rem;
        text-align: center;
    
    }

    .text-section button{
        font-size: 1.3rem;
        padding: 12px 20px;

    }
    br{
        display: block;
    }

    .adjective{
        display: none;
    }

    .button-section{
        text-align: center;
    }

  
    
}
/* About Section */

.about{
    /* padding-top: 1%; */
}

.about h2, .portfolio h2{
    font-size: 3rem;
    font-weight: 600;
    margin: 20px 0;
    font-family: 'Poppins';
}

.about p{
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2;
    margin: 20px 0;
}


.about button{
    padding: 15px 30px;
    font-size: 1.5rem;
    font-weight: 500;
    border-radius: 25px;
    margin-top: 10px;

color: white;
}

@media screen and (max-width:640px) {
    .about p{
        font-size: 1rem;
        text-align: center;
        line-height: 1.5;
    }
    .about{
      text-align: center;
    }
}



/* Portfolio project */
.portfolio-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
   
    column-gap: 70px;
    row-gap: 35px;
}
.portfolio h2{
    margin-bottom: 20px;
}

.profile-title{
    font-size: 2rem;
    font-weight: 500;
    margin-top: 10px;
}

.profile-title::before{
    content: "  ";
    background-color: white;
    position: relative;
    padding: 3px;
    top: 60px;
    display: block;
    border-radius: 5px;
    width: 70%;
    margin-bottom: 20px;
    margin: auto;
}




article{
    width: 450px;
    /* height: 700px; */
    background-color: #0f1624;
   text-align: center;
   padding: 3%;
   border-radius: 35px 0 15px 0;
   color: white;
}

article img{
    width: 400px;
    height: 266px;
    border-radius: 10px;
    /* margin: 5% auto; */
}

.article-footer{
    padding: 10px;
    margin-top: 20px;
    line-height: 2;
}

.card button{
    background-color: white;
    color: black;
    margin: 20px 0px;
    padding: 10px 30px;
}

.card button a{
    color: black;
}

.article-footer{
    text-align: left;
}

@media screen and (max-width:640px) {
    .portfolio-section{
        grid-template-columns:  1fr;
    
    }

    .portfolio-heading{
        text-align: center;
    }

    article{
       width: 100%;
       
    }

    article img{
        width: 100%;
        height: 200px;
    }

    .profile-title::before{
        padding: 2px;

    }

    .article-footer button{
       text-align: center;
       margin: 5% auto;
       font-size: 1rem;
    
    }
    
    
}
/* Skills */

.skill-set{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: repeat(2, 1fr); */
    /* background-color: red; */
    margin: 20px;
    margin-left: 60px;
    gap: 20px;
   
}

.skill-set li{
    list-style-type:disc;
}

@media screen and (max-width:640px) {
    .skill-set{
        grid-template-columns: repeat(2, 1fr);
        margin-left: 20px;
        gap: 10px;
       
    }
    
}

/* Footer */
footer{
    background-color: #0f1624;
    padding: 2% 10%;
    text-align: center;
    color: white;
}

.footer-break{
    display: none;
}

@media screen and (max-width:640px) {
  
.footer-break{
    display: block;
}
  
footer{
    padding: 5% 10%;
}
}


